/*--------------------------------------------------------------
#.home Section
--------------------------------------------------------------*/
.home {
    width   : 100%;
    height  : 90vh;
    overflow: hidden;
    position: relative;
}

.home::after {
    content            : "";
    position           : absolute;
    left               : 50%;
    top                : 0;
    width              : 130%;
    height             : 95%;
    background         : linear-gradient(to right, #000000, rgba(30, 67, 86, 0.6)), url("../images/home\ \(2\).jpg") center top no-repeat;
    background-position: center center;
    background-size    : cover;
    z-index            : 0;
    border-radius      : 0 0 50% 50%;
    transform          : translateX(-50%) rotate(0deg);
}

.home::before {
    content      : "";
    position     : absolute;
    left         : 50%;
    top          : 0;
    width        : 130%;
    height       : 96%;
    background   : #3E2B96;
    opacity      : 0.3;
    z-index      : 0;
    border-radius: 0 0 50% 50%;
    transform    : translateX(-50%) translateY(18px) rotate(2deg);
}

.home .home-content {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    text-align     : center;
    bottom         : 0;
    top            : 0;
    left           : 0;
    right          : 0;
}

.home h2 {
    color        : #fff;
    margin-bottom: 30px;
    font-size    : 48px;
    font-weight  : 700;
}

.home p {
    width          : 80%;
    animation-delay: 0.4s;
    margin         : 0 auto 30px auto;
    color          : #fff;
    font-size      : 23px;
}

a {
    text-decoration: none;
    color          : white;
}

.fa-facebook,
.fa-instagram,
.fa-whatsapp {
    transition: .4s;
}


.fa-facebook:hover {
    color: #1773EA;
}

.fa-instagram:hover {
    color: #A0328D;
}

.fa-whatsapp:hover {
    color: #25D366;
}


/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.services {
    margin-top: 110px;
}

.services .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    background: #fff;
}

.services .icon-box+.icon-box {
    margin-top: 50px;
}

.services .icon-box .icon {
    float          : right;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 72px;
    height         : 72px;
    background     : #f3f8fa;
    border-radius  : 6px;
    transition     : 0.5s;
    margin         : 0px 0px 0px 15px;
}

.services .icon-box .icon i {
    color    : #3E2B96;
    font-size: 32px;
}

.services .icon-box:hover .icon {
    background: #3E2B96;
}

.services .icon-box:hover .icon i {
    color: #fff;
}

.services .icon-box .title {
    margin-left   : 95px;
    font-weight   : 700;
    margin-bottom : 10px;
    text-transform: uppercase;
}

.services .icon-box .title {
    color     : #343a40;
    transition: 0.3s;
}

.services .icon-box .title:hover {
    color: #3E2B96;
}

.services .icon-box .description {
    margin-left: 95px;
    line-height: 24px;
    font-size  : 14px;
}

.services img {
    padding-top   : 15px;
    padding-bottom: 15px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background    : linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, #3f2b96ac, rgba(16, 15, 33, 1) 150%);
    width         : 100%;
    padding-bottom: 20px;
}

.horizental-line {
    width : 75%;
    margin: 40px auto;
}

.footer-content h3 {
    font-size     : 3rem;
    font-weight   : 400;
    text-transform: capitalize;
    padding-top   : 0px;
    padding-bottom: 50px;
}

.footer-content p {
    max-width  : 500px;
    margin     : 15px auto;
    line-height: 28px;
    font-size  : 14px;
}

.footer-bottom {
    color: white;
}

footer .Contact {
    list-style: none;
}


.footer-bottom p {
    font-size   : 18px;
    word-spacing: 2px;
}

.footer-bottom p span {
    font-weight: 500;
    font-size  : 18px;
}

.footer-info h3,
.footer-contact h3 {
    color: #3E2B96;
}